.Rhistory
.RData
.Rproj.user
*.aux
*.log
*.toc
*.out
*.tex
!manuscript/pdf-preamble.tex
*.lof
*.lot
*.synctex.gz

outputs/*.pdf
outputs/*.docx
outputs/*.html
outputs/
_freeze/

data/processed/*.rds

.vscode/
/.quarto/
**/*.quarto_ipynb
